.bannerContainer{
    background-color: black;
    .bannerContent{
        background-color: #BFC500;
        padding: 27px;
        margin: 10px 100px 80px 100px;
        display: flex;
        gap: 2rem;
        h2{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-style: italic;
            font-weight: 800;
            width: 33%;
        }
        h4{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            letter-spacing: .5px;
            font-style: normal;
            font-weight: 400;
            text-align: left;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 100px;
            border-radius: 1rem;
            border: none;
            background-color: black;
            padding: 20px 40px 20px 40px;
            cursor: pointer;
            a{
                color: #BFC500;
                text-decoration: none;
                width: 70%;
                font-weight: 700;
            }
        }
        button:hover{
            background-color: #FFF;
            transition: all .3s;
            a{
                color: black;
                transition: all .3s;
            }
        }
    }
}
.line{
    hr{
        height: 1px;
        background-color: rgb(233, 233, 233);
        border: 0;
        margin-left: 100px;
        margin-right: 100px;
        top: 20px;
    }
}